@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
}

@theme {
  --breakpoint-xs: 0px; /*samsung phone*/
  --breakpoint-sm: 412px; /*iphone phone*/
  --breakpoint-md: 768px; /*tablet*/
  --breakpoint-lg: 1024px; /*small laptop*/
  --breakpoint-xl: 1200px; /*laptop 14 inch*/
  --breakpoint-2xl: 1400px; /*laptop 15 inch (my laptop)*/
  --breakpoint-3xl: 1600px; /*laptop 16 inch*/





}


@layer base {
  body {
    @apply w-screen overflow-x-hidden scroll-smooth w-screen; /*base styling*/
    @apply flex flex-col justify-start items-start; /*flex*/
    @apply text-sm font-sans text-left; /*font*/
    @apply border-2 border-yellow-500; /*border*/

  }

  body{
    background-color: var(--white);
    color: var(--black);
  }
}


@layer components {

  .container{
    @apply flex flex-col gap-10 p-10 min-w-full items-center justify-center;

  }

  .button{
    @apply border border-2 border-green-500;
    @apply p-2;
    @apply rounded-xl;
    @apply cursor-pointer;
  }

}


@layer utilities {
  ::selection {
    background-color: var(--yellow); 
    color: var(--black); 
  }
}